<?xml version="1.0"?>
<ServerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RootDirectory>d:\test\web</RootDirectory>
  <Listen>
    <Addresses>
      <address name="1" host="127.0.0.1" port="8080" isHttps="false" />
    </Addresses>
  </Listen>
  <HttpHandlers>
    <!--<HandlerMatch>
      <Match select="http://127.0.0.1:8080/*" type="SimpleHttpServer.Test,SimpleHttpServer.Test.TestHandler" />
    </HandlerMatch>-->
  </HttpHandlers>
  <Work>
    <ProcessQueueMaxLength>2000</ProcessQueueMaxLength>
    <WorkThreadNum>5</WorkThreadNum>
  </Work>
  <StaticContent>
    <MimeMaps>
      <MimeMap ext=".repx" mimeType="test" />
    </MimeMaps>
  </StaticContent>
</ServerConfig>